Repository navikt/aksel, pull requests merged in 2024-09, with the labels that each got.

#3119 Tailwind: Fixed 'screen' -> 'screens' bug to properly adopt breakpoints.
  .changeset/stupid-pianos-end.md
  @navikt/core/tailwind/src/index.ts
  aksel.nav.no/website/components/layout/templates/WithSidebar.tsx
  aksel.nav.no/website/pages/komponenter/index.tsx
  aksel.nav.no/website/tailwind.config.js
Labels: klar for gjennomgang 🔍, Aksel-V7

#3096 Update sanity
  aksel.nav.no/website/package.json
  aksel.nav.no/website/sanity/schema/objects/templates/ExampletextBlock.tsx
  yarn.lock
Labels: klar for gjennomgang 🔍

#3120 Icons: Removed old and renamed icons
  .changeset/small-apples-pretend.md
  @navikt/aksel-icons/icons/BeaconSignals.svg
  @navikt/aksel-icons/icons/BeaconSignals.yml
  @navikt/aksel-icons/icons/BeaconSignalsFill.svg
  @navikt/aksel-icons/icons/BeaconSignalsFill.yml
  @navikt/aksel-icons/icons/Buldings2.svg
  @navikt/aksel-icons/icons/Buldings2.yml
  @navikt/aksel-icons/icons/Buldings2Fill.svg
  @navikt/aksel-icons/icons/Buldings2Fill.yml
  @navikt/aksel-icons/icons/Buldings3.svg
  @navikt/aksel-icons/icons/Buldings3.yml
  @navikt/aksel-icons/icons/Buldings3Fill.svg
  @navikt/aksel-icons/icons/Buldings3Fill.yml
Labels: klar for gjennomgang 🔍, Aksel-V7

#3105 :bug: Combobox: trailing spaces are no longer accepted autocomplete-letters
  .changeset/nasty-jeans-invent.md
  @navikt/core/react/src/form/combobox/FilteredOptions/filtered-options-util.ts
  @navikt/core/react/src/form/combobox/combobox.stories.tsx
Labels: diskusjon 🧐, klar for gjennomgang 🔍

#3140 ErrorSummary: Add fallback for heading + better focus handling
  .changeset/great-crews-hang.md
  .changeset/thick-roses-sneeze.md
  @navikt/core/css/form/error-summary.css
  @navikt/core/react/src/form/error-summary/ErrorSummary.tsx
  @navikt/core/react/src/form/error-summary/ErrorSummaryItem.tsx
  @navikt/core/react/src/form/error-summary/error-summary.stories.tsx
  aksel.nav.no/website/pages/eksempler/errorsummary/demo.tsx
  aksel.nav.no/website/pages/eksempler/errorsummary/setting-focus.tsx
  aksel.nav.no/website/pages/eksempler/errorsummary/small.tsx
Labels: Aksel-V7

#3139 Aksel v7
  .changeset/great-crews-hang.md
  .changeset/little-files-cough.md
  .changeset/small-apples-pretend.md
  .changeset/stupid-pianos-end.md
  .changeset/thick-roses-sneeze.md
  @navikt/aksel-icons/icons/BeaconSignals.svg
  @navikt/aksel-icons/icons/BeaconSignals.yml
  @navikt/aksel-icons/icons/BeaconSignalsFill.svg
  @navikt/aksel-icons/icons/BeaconSignalsFill.yml
  @navikt/aksel-icons/icons/Buldings2.svg
  @navikt/aksel-icons/icons/Buldings2.yml
  @navikt/aksel-icons/icons/Buldings2Fill.svg
  @navikt/aksel-icons/icons/Buldings2Fill.yml
  @navikt/aksel-icons/icons/Buldings3.svg
  @navikt/aksel-icons/icons/Buldings3.yml
  @navikt/aksel-icons/icons/Buldings3Fill.svg
  @navikt/aksel-icons/icons/Buldings3Fill.yml
  @navikt/core/css/form/error-summary.css
  @navikt/core/react/src/form/error-summary/ErrorSummary.tsx
  @navikt/core/react/src/form/error-summary/ErrorSummaryItem.tsx
  @navikt/core/react/src/form/error-summary/error-summary.stories.tsx
  @navikt/core/react/src/tooltip/Tooltip.tsx
  @navikt/core/react/src/tooltip/tooltip.stories.tsx
  @navikt/core/tailwind/src/index.ts
  aksel.nav.no/website/components/layout/templates/WithSidebar.tsx
  aksel.nav.no/website/pages/eksempler/errorsummary/demo.tsx
  aksel.nav.no/website/pages/eksempler/errorsummary/setting-focus.tsx
  aksel.nav.no/website/pages/eksempler/errorsummary/small.tsx
  aksel.nav.no/website/pages/eksempler/togglegroup/with-tooltip.tsx
  aksel.nav.no/website/pages/eksempler/tooltip/demo.tsx
  aksel.nav.no/website/pages/eksempler/tooltip/labeling.tsx
  aksel.nav.no/website/pages/eksempler/tooltip/no-arrow.tsx
  aksel.nav.no/website/pages/eksempler/tooltip/placement.tsx
  aksel.nav.no/website/pages/eksempler/tooltip/with-shortcuts.tsx
  aksel.nav.no/website/pages/komponenter/index.tsx
  aksel.nav.no/website/scripts/update-examples/parts/extract-args.ts
  aksel.nav.no/website/scripts/update-examples/parts/extract-metadata.ts
  aksel.nav.no/website/tailwind.config.js
Labels: Aksel-V7

#3157 [Tokens] Updated to new config
  @navikt/core/tokens/darkside/create-configuration.ts
  @navikt/core/tokens/darkside/index.ts
  @navikt/core/tokens/darkside/leonardo.ts
  @navikt/core/tokens/darkside/sd-format.ts
  @navikt/core/tokens/darkside/tests/leonardo.test.ts
  @navikt/core/tokens/darkside/tests/sd-format.test.ts
  @navikt/core/tokens/darkside/tests/util.test.ts
  @navikt/core/tokens/darkside/tests/validate-config.test.ts
  @navikt/core/tokens/darkside/tokens/contrast.ts
  @navikt/core/tokens/darkside/tokens/neutral.ts
  @navikt/core/tokens/darkside/tokens/radius.ts
  @navikt/core/tokens/darkside/tokens/semantic-roles.ts
  @navikt/core/tokens/darkside/tokens/semantic.ts
  @navikt/core/tokens/darkside/tokens/spacing.ts
  @navikt/core/tokens/darkside/util.ts
  @navikt/core/tokens/package.json
  yarn.lock
Labels: klar for gjennomgang 🔍

#3172 [Darkside] Generate Token config to be consumed by Figma plugin
  .github/workflows/figma-config.yml
  @navikt/aksel-icons/figma-plugin/package.json
  @navikt/core/tokens/.gitignore
  @navikt/core/tokens/darkside/figma/create-tokens.ts
  @navikt/core/tokens/darkside/figma/figma-config.types.ts
  @navikt/core/tokens/darkside/figma/index.ts
  @navikt/core/tokens/darkside/tests/create-tokens.test.ts
  @navikt/core/tokens/darkside/tokens/neutral.ts
  @navikt/core/tokens/darkside/util.ts
  @navikt/core/tokens/package.json
  @navikt/core/tokens/tsconfig.json
  yarn.lock
Labels: klar for gjennomgang 🔍
